# Tratamento/Limpeza dos dados

## Bibliotecas

In [1]:
import pandas as pd

## Importação do csv

In [2]:
df = pd.read_csv('combined_data.csv')

C:\Users\duike\AppData\Local\Temp\ipykernel_12684\997897169.py:1: DtypeWarning: Columns (84,87,88,97,98,99,100,101,102) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('combined_data.csv')

## Visualização dos dados

In [3]:
numero_linhas = len(df)
print(f"Número de linhas: {numero_linhas}")

Número de linhas: 3570342

In [4]:
df.describe()

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
count,3.570342e+06,3.570342e+06,3.570342e+06,3.570342e+06,2.562966e+06,3.570342e+06,3.570342e+06,3.570342e+06,3.570342e+06,3.570342e+06,...,0.0,3.570342e+06,3.570342e+06,3.570342e+06,3.570342e+06,3.570342e+06,3.570342e+06,3.570342e+06,3.570342e+06,3570342.0
mean,2.602413e+05,2.021583e+03,6.623184e+00,2.978861e+00,1.156819e+13,2.622289e+12,1.029885e+00,5.442888e+07,2.614788e+05,1.980342e+07,...,NaN,2.872456e-01,5.426903e-02,2.267906e-02,9.060757e-03,3.006155e-03,8.635027e-04,1.845762e-04,8.402556e-07,0.0
std,4.482746e+02,1.748531e+00,3.425892e+00,4.712110e+00,4.365103e+12,6.704198e+10,3.444521e-01,2.720435e+06,8.424914e+03,2.498973e+05,...,NaN,5.257546e-01,2.436876e-01,1.614298e-01,1.036548e-01,6.025505e-02,3.266833e-02,1.516298e-02,1.183396e-03,0.0
min,2.600000e+05,2.019000e+03,1.000000e+00,1.000000e+00,2.288130e+11,2.608100e+12,1.000000e+00,1.001000e+06,1.100010e+05,1.893072e+07,...,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
25%,2.600000e+05,2.020000e+03,4.000000e+00,1.000000e+00,1.057205e+13,2.620104e+12,1.000000e+00,5.340174e+07,2.605200e+05,1.960052e+07,...,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
50%,2.600000e+05,2.022000e+03,7.000000e+00,3.000000e+00,1.057205e+13,2.622101e+12,1.000000e+00,5.517000e+07,2.609600e+05,1.982111e+07,...,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
75%,2.601800e+05,2.023000e+03,1.000000e+01,3.000000e+00,1.098830e+13,2.623106e+12,1.000000e+00,5.580097e+07,2.611600e+05,1.999072e+07,...,NaN,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
max,2.616500e+05,2.024000e+03,1.200000e+01,8.700000e+01,7.023723e+13,9.924300e+12,5.000000e+00,9.999000e+07,5.300100e+05,2.024123e+07,...,NaN,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,0.0

In [5]:
df.head(20)

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
0,260000,2019,1,1,3.544600e+13,2619104343889,1,56480000,261480,19450305,...,NaN,0,0,0,0,0,0,0,0,0
1,260000,2019,1,1,3.544600e+13,2619104343890,1,56480000,261480,19580319,...,NaN,0,0,0,0,0,0,0,0,0
2,260000,2019,1,1,3.544600e+13,2619104343900,1,56460000,261100,20160504,...,NaN,0,0,0,0,0,0,0,0,0
3,260000,2019,1,1,3.544600e+13,2619104343911,1,56460000,261100,20090112,...,NaN,0,0,0,0,0,0,0,0,0
4,260000,2019,1,1,3.544600e+13,2619104343922,1,56460000,261100,20161210,...,NaN,0,0,0,0,0,0,0,0,0
5,260000,2019,1,1,3.544600e+13,2619104343933,1,56580000,260660,19940402,...,NaN,0,0,0,0,0,0,0,0,0
6,260000,2019,1,1,3.544600e+13,2619104343944,1,56395000,260875,20080420,...,NaN,0,0,0,0,0,0,0,0,0
7,260000,2019,1,3,3.544600e+13,2619104344186,1,56460000,261100,19200110,...,NaN,0,0,0,0,0,0,0,0,0
8,260000,2019,1,3,3.544600e+13,2619104344197,1,56460000,261100,19470125,...,NaN,0,0,0,0,0,0,0,0,0
9,260000,2019,1,3,3.544600e+13,2619104344208,1,56420000,260392,19450819,...,NaN,0,0,0,0,0,0,0,0,0
10,260000,2019,1,3,3.544600e+13,2619104344219,1,56460000,261100,19780126,...,NaN,0,0,0,0,0,0,0,0,0
11,260000,2019,1,3,3.544600e+13,2619104344220,1,56460000,261100,19860606,...,NaN,0,0,0,0,0,0,0,0,0
12,260000,2019,1,3,3.544600e+13,2619104344230,1,56460000,261100,19840305,...,NaN,1,0,0,0,0,0,0,0,0
13,260000,2019,1,3,3.544600e+13,2619104344241,1,56580000,260660,19480415,...,NaN,0,0,0,0,0,0,0,0,0
14,260000,2019,1,3,NaN,2618104079228,1,55680000,260230,19430516,...,NaN,0,0,0,0,0,0,0,0,0
15,260000,2019,1,3,NaN,2618104079239,1,56550970,260750,19190114,...,NaN,0,0,0,0,0,0,0,0,0
16,260000,2019,1,3,NaN,2618104079240,1,55099899,260410,20010713,...,NaN,0,0,0,0,0,0,0,0,0
17,260000,2019,1,3,NaN,2618104079261,1,55260000,260060,19340113,...,NaN,0,0,0,0,0,0,0,0,0
18,260000,2019,1,3,NaN,2618104079272,1,55021260,260410,20000218,...,NaN,0,0,0,0,0,0,0,0,0
19,260000,2019,1,1,1.057205e+13,2619104308161,1,55240000,261120,20000404,...,NaN,1,0,0,0,0,0,0,0,0

In [6]:
df['CONTRACEP1'].value_counts()

CONTRACEP1
0     3523389
8       28948
10      11893
11       1934
12       1390
6         996
1         821
7         595
9         151
4         111
2          65
3          21
13         15
5          13
Name: count, dtype: int64

In [7]:
# Verificando colunas com valores 0
# UTI_MES_IN	UTI_MES_AN	UTI_MES_AL	UTI_MES_TO	MARCA_UTI	UTI_INT_IN	UTI_INT_AN	UTI_INT_AL	UTI_INT_TO
colunas_com_zeros = (df == 0).sum()
colunas_com_zeros = colunas_com_zeros[colunas_com_zeros > 0]
colunas_com_zeros

UTI_MES_IN    3570342
UTI_MES_AN    3570342
UTI_MES_AL    3570342
UTI_MES_TO    3301288
MARCA_UTI     3301288
               ...
TPDISEC5      3560740
TPDISEC6      3567624
TPDISEC7      3569764
TPDISEC8      3570340
TPDISEC9      3570342
Length: 67, dtype: int64

## Tratamento dos nulos

In [8]:
null_counts = df.isnull().sum()
colunas_com_nulos = null_counts[null_counts > 0]

print(colunas_com_nulos)

CGC_HOSP     1007376
NUM_PROC     3570342
CPF_AUT      3570342
CID_NOTIF    3523392
GESTOR_DT    3570342
CNPJ_MANT    1180835
INFEHOSP     3570342
FAEC_TP      3439586
AUD_JUST     3549111
SIS_JUST     3550231
DIAGSEC1     2672742
DIAGSEC2     3390971
DIAGSEC3     3496323
DIAGSEC4     3541144
DIAGSEC5     3560740
DIAGSEC6     3567624
DIAGSEC7     3569764
DIAGSEC8     3570340
DIAGSEC9     3570342
dtype: int64

In [9]:
threshold_para_remover_nulos = numero_linhas * 0.7
lista_colunas_para_remover = colunas_com_nulos[colunas_com_nulos > threshold_para_remover_nulos].index
lista_colunas_para_remover = lista_colunas_para_remover.union(colunas_com_zeros[colunas_com_zeros > threshold_para_remover_nulos].index)
lista_colunas_para_remover

Index(['AUD_JUST', 'CBOR', 'CID_ASSO', 'CID_MORTE', 'CID_NOTIF', 'CNAER',
       'CONTRACEP1', 'CONTRACEP2', 'CPF_AUT', 'DIAGSEC1', 'DIAGSEC2',
       'DIAGSEC3', 'DIAGSEC4', 'DIAGSEC5', 'DIAGSEC6', 'DIAGSEC7', 'DIAGSEC8',
       'DIAGSEC9', 'DIAG_SECUN', 'ETNIA', 'FAEC_TP', 'GESTOR_COD',
       'GESTOR_CPF', 'GESTOR_DT', 'GESTOR_TP', 'HOMONIMO', 'IND_VDRL',
       'INFEHOSP', 'INSC_PN', 'INSTRU', 'MARCA_UCI', 'MARCA_UTI', 'MORTE',
       'NATUREZA', 'NUM_FILHOS', 'NUM_PROC', 'REGCT', 'RUBRICA', 'SEQ_AIH5',
       'SIS_JUST', 'TOT_PT_SP', 'TPDISEC1', 'TPDISEC2', 'TPDISEC3', 'TPDISEC4',
       'TPDISEC5', 'TPDISEC6', 'TPDISEC7', 'TPDISEC8', 'TPDISEC9',
       'UTI_INT_AL', 'UTI_INT_AN', 'UTI_INT_IN', 'UTI_INT_TO', 'UTI_MES_AL',
       'UTI_MES_AN', 'UTI_MES_IN', 'UTI_MES_TO', 'VAL_ACOMP', 'VAL_OBSANG',
       'VAL_ORTP', 'VAL_PED1AC', 'VAL_RN', 'VAL_SADT', 'VAL_SADTSR',
       'VAL_SANGUE', 'VAL_SH_FED', 'VAL_SH_GES', 'VAL_SP_FED', 'VAL_SP_GES',
       'VAL_TRANSP', 'VAL_UCI', 'VAL_UTI', 'VINCPREV'],
      dtype='object')

In [10]:
df_cleaned = df.drop(columns=lista_colunas_para_remover)

In [11]:
# quantidade de colunas
print(f"Número de colunas após remoção: {len(df_cleaned.columns)}")

Número de colunas após remoção: 39

In [12]:
#veja os valores da coluna COD_IDADE se existem valores diferentes de 4
df_cleaned['NACIONAL'].value_counts()

NACIONAL
10     3568561
81         472
30         159
45         107
103         97
        ...
274          1
178          1
130          1
95           1
43           1
Name: count, Length: 67, dtype: int64

In [13]:
df_cleaned.head(20)

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,NACIONAL,CAR_INT,GESTRISCO,CNES,CNPJ_MANT,COMPLEX,FINANC,RACA_COR,SEQUENCIA,REMESSA
0,260000,2019,1,1,3.544600e+13,2619104343889,1,56480000,261480,19450305,...,10,2,1,7152566,NaN,2,6,3,7426,HE26000001N201901.DTS
1,260000,2019,1,1,3.544600e+13,2619104343890,1,56480000,261480,19580319,...,10,2,1,7152566,NaN,2,6,3,7427,HE26000001N201901.DTS
2,260000,2019,1,1,3.544600e+13,2619104343900,1,56460000,261100,20160504,...,10,2,1,7152566,NaN,2,6,3,7428,HE26000001N201901.DTS
3,260000,2019,1,1,3.544600e+13,2619104343911,1,56460000,261100,20090112,...,10,2,1,7152566,NaN,2,6,3,7429,HE26000001N201901.DTS
4,260000,2019,1,1,3.544600e+13,2619104343922,1,56460000,261100,20161210,...,10,2,1,7152566,NaN,2,6,3,7430,HE26000001N201901.DTS
5,260000,2019,1,1,3.544600e+13,2619104343933,1,56580000,260660,19940402,...,10,2,1,7152566,NaN,2,6,3,7431,HE26000001N201901.DTS
6,260000,2019,1,1,3.544600e+13,2619104343944,1,56395000,260875,20080420,...,10,2,1,7152566,NaN,2,6,3,7432,HE26000001N201901.DTS
7,260000,2019,1,3,3.544600e+13,2619104344186,1,56460000,261100,19200110,...,10,2,1,7152566,NaN,2,6,3,7525,HE26000001N201901.DTS
8,260000,2019,1,3,3.544600e+13,2619104344197,1,56460000,261100,19470125,...,10,2,1,7152566,NaN,2,6,3,7526,HE26000001N201901.DTS
9,260000,2019,1,3,3.544600e+13,2619104344208,1,56420000,260392,19450819,...,10,2,1,7152566,NaN,2,6,3,7527,HE26000001N201901.DTS
10,260000,2019,1,3,3.544600e+13,2619104344219,1,56460000,261100,19780126,...,10,2,1,7152566,NaN,2,6,3,7528,HE26000001N201901.DTS
11,260000,2019,1,3,3.544600e+13,2619104344220,1,56460000,261100,19860606,...,10,2,1,7152566,NaN,2,6,3,7529,HE26000001N201901.DTS
12,260000,2019,1,3,3.544600e+13,2619104344230,1,56460000,261100,19840305,...,10,2,1,7152566,NaN,2,6,3,7530,HE26000001N201901.DTS
13,260000,2019,1,3,3.544600e+13,2619104344241,1,56580000,260660,19480415,...,10,2,1,7152566,NaN,2,6,3,7531,HE26000001N201901.DTS
14,260000,2019,1,3,NaN,2618104079228,1,55680000,260230,19430516,...,10,2,1,2428989,1.057205e+13,2,6,99,5855,HE26000001N201901.DTS
15,260000,2019,1,3,NaN,2618104079239,1,56550970,260750,19190114,...,10,2,1,2428989,1.057205e+13,2,6,3,5856,HE26000001N201901.DTS
16,260000,2019,1,3,NaN,2618104079240,1,55099899,260410,20010713,...,10,2,1,2428989,1.057205e+13,2,6,3,5857,HE26000001N201901.DTS
17,260000,2019,1,3,NaN,2618104079261,1,55260000,260060,19340113,...,10,2,1,2428989,1.057205e+13,2,6,3,5859,HE26000001N201901.DTS
18,260000,2019,1,3,NaN,2618104079272,1,55021260,260410,20000218,...,10,2,1,2428989,1.057205e+13,2,6,3,5860,HE26000001N201901.DTS
19,260000,2019,1,1,1.057205e+13,2619104308161,1,55240000,261120,20000404,...,10,2,1,2551764,1.057205e+13,2,6,1,5966,HE26000001N201901.DTS

In [14]:
df_cleaned.to_csv('cleaned_data.csv', index=False)

## Seleção de dados

In [15]:
lista_colunas_para_remover = ["CGC_HOSP", "DIAR_ACOM", "COBRANCA", "NAT_JUR", "GESTAO", "UF_ZI", "CAR_INT", "CNPJ_MANT", "FINANC", "SEQUENCIA", "REMESSA", "ANO_CMPT", "MES_CMPT", "ESPEC", "IDENT", "CEP", "MUNIC_RES", "PROC_SOLIC", "US_TOT", "DT_SAIDA", "MUNIC_MOV", "DIAS_PERM", "NACIONAL", "GESTRISCO", "COMPLEX"]
df_selected = df_cleaned.drop(columns=lista_colunas_para_remover)

In [16]:
colunas_para_recuperar = ["MORTE", "CID_MORTE", "ETNIA"]
df_selected[colunas_para_recuperar] = df[colunas_para_recuperar]

In [17]:
df_selected.to_csv('selected_data.csv', index=False)

In [18]:
df_selected.head(50)

,N_AIH,NASC,SEXO,QT_DIARIAS,PROC_REA,VAL_SH,VAL_SP,VAL_TOT,DT_INTER,DIAG_PRINC,COD_IDADE,IDADE,CNES,RACA_COR,MORTE,CID_MORTE,ETNIA
0,2619104343889,19450305,1,2,407040129,314.55,136.44,450.99,20181229,K429,4,73,7152566,3,0,0,0
1,2619104343890,19580319,1,2,407020284,191.10,124.84,315.94,20190105,I842,4,60,7152566,3,0,0,0
2,2619104343900,20160504,1,1,409050032,232.34,148.62,380.96,20181220,Q541,4,2,7152566,3,0,0,0
3,2619104343911,20090112,1,1,401020150,230.32,121.30,351.62,20181220,Q181,4,9,7152566,3,0,0,0
4,2619104343922,20161210,3,2,407040129,314.55,136.44,450.99,20181220,K429,4,2,7152566,3,0,0,0
5,2619104343933,19940402,1,1,409050083,97.72,121.40,219.12,20181231,N47,4,24,7152566,3,0,0,0
6,2619104343944,20080420,1,1,409050083,105.72,121.40,227.12,20181125,N47,4,10,7152566,3,0,0,0
7,2619104344186,19200110,3,3,303140151,528.07,78.35,606.42,20181218,J180,4,98,7152566,3,0,0,0
8,2619104344197,19470125,1,2,303060182,134.29,38.05,172.34,20181219,I159,4,71,7152566,3,0,0,0
9,2619104344208,19450819,1,4,303150017,53.10,14.21,67.31,20190103,N410,4,73,7152566,3,0,0,0
10,2619104344219,19780126,3,3,303150041,294.28,53.67,347.95,20190102,N10,4,40,7152566,3,0,0,0
11,2619104344220,19860606,3,4,303150033,171.65,27.16,198.81,20190108,N739,4,32,7152566,3,0,0,0
12,2619104344230,19840305,3,4,308040015,170.12,29.21,199.33,20181207,T814,4,34,7152566,3,0,0,0
13,2619104344241,19480415,1,7,303150017,109.10,14.21,123.31,20181210,N410,4,70,7152566,3,0,0,0
14,2618104079228,19430516,1,6,303140135,451.47,29.40,480.87,20181104,J159,4,75,2428989,99,0,0,0
15,2618104079239,19190114,3,10,303140135,451.47,29.40,480.87,20181101,J189,4,99,2428989,3,0,0,0
16,2618104079240,20010713,1,2,303020032,373.76,39.65,413.41,20181110,D649,4,17,2428989,3,0,0,0
17,2618104079261,19340113,1,7,303040165,85.31,27.52,112.83,20181106,G009,4,84,2428989,3,0,0,0
18,2618104079272,20000218,1,8,303030038,310.79,50.01,360.80,20181105,E110,4,18,2428989,3,0,0,0
19,2619104308161,20000404,1,4,412040166,669.86,404.28,1074.14,20181230,S272,4,18,2551764,1,0,0,0
20,2619104308172,19960929,3,2,407020039,291.54,161.03,452.57,20190115,K359,4,22,2551764,3,0,0,0
21,2619104308183,19410505,3,15,404010377,2238.65,431.86,2670.51,20181225,J969,4,77,2551764,3,1,0,0
22,2619104308194,19681003,3,3,407030123,1216.04,254.66,1470.70,20190105,S360,4,50,2551764,3,1,0,0
23,2619104308205,19780611,3,2,401020053,266.26,106.55,372.81,20190120,S626,4,40,2551764,3,0,0,0
24,2619104308216,19890322,1,1,408020342,109.69,82.91,192.60,20190116,S626,4,29,2551764,3,0,0,0
25,2619104308227,19880815,1,0,407010190,978.45,188.03,1166.48,20190120,S363,4,30,2551764,3,1,0,0
26,2619104313375,19990729,3,2,310010039,284.60,241.00,525.60,20190108,O800,4,19,2551764,3,0,0,0
27,2619104313386,20040125,3,2,310010039,284.60,241.00,525.60,20190110,O800,4,14,2551764,3,0,0,0
28,2619104313397,20010918,3,2,310010039,284.60,241.00,525.60,20190112,O800,4,17,2551764,3,0,0,0
29,2619104313408,19860129,3,1,310010039,276.60,241.00,517.60,20190109,O800,4,32,2551764,1,0,0,0
30,2619104313419,19760530,3,1,411020013,110.21,70.41,180.62,20190113,O034,4,42,2551764,3,0,0,0
31,2619104313420,19910113,3,1,411020013,110.21,70.41,180.62,20190112,O034,4,27,2551764,3,0,0,0
32,2619104313430,19710907,3,2,411020013,110.21,70.41,180.62,20190112,O034,4,47,2551764,3,0,0,0
33,2619104314508,19870122,3,1,303100044,85.25,23.99,109.24,20190109,O479,4,31,2551764,3,0,0,0
34,2619104314519,19950212,3,1,411020013,110.21,70.41,180.62,20190122,O034,4,23,2551764,3,0,0,0
35,2619104310141,19611201,3,9,303140135,523.47,29.40,552.87,20181230,J960,4,57,2551764,2,0,0,0
36,2619104311208,19450225,3,2,308010019,186.12,29.21,215.33,20190120,T022,4,73,2551764,3,0,0,0
37,2619104311219,19550717,1,5,303060263,303.05,50.63,353.68,20190113,E145,4,63,2551764,3,0,0,0
38,2619104311220,19850321,1,13,303070129,332.43,41.95,374.38,20190110,K810,4,33,2551764,3,0,0,0
39,2619104311230,19640304,1,4,305020048,225.54,45.35,270.89,20190119,N179,4,54,2551764,1,1,0,0
40,2619104311241,19690906,1,11,305020056,512.18,68.72,580.90,20190113,N189,4,49,2551764,3,0,0,0
41,2619104311252,19880217,1,12,303140046,547.83,25.71,573.54,20190110,J431,4,30,2551764,3,0,0,0
42,2619104311263,19471215,3,8,308010019,226.12,29.21,255.33,20190112,T023,4,71,2551764,3,0,0,0
43,2619104308986,20190113,3,3,303160039,247.75,38.79,286.54,20190115,P599,2,2,2551764,99,0,0,0
44,2619104308997,20181211,3,6,303160039,271.75,38.79,310.54,20190116,P363,3,1,2551764,3,0,0,0
45,2619104309008,20120219,1,6,303140151,552.07,78.35,630.42,20190116,J189,4,6,2551764,3,0,0,0
46,2619104309019,20171024,1,3,303040165,109.31,27.52,136.83,20190114,G408,4,1,2551764,3,0,0,0
47,2619104309020,20180825,3,2,303140143,176.62,26.51,203.13,20190121,J219,3,4,2551764,1,0,0,0
48,2619104309030,20190111,1,2,303160039,239.75,38.79,278.54,20190114,P599,2,3,2551764,99,0,0,0
49,2619104309041,20150701,1,2,303020040,226.38,37.97,264.35,20190116,D570,4,3,2551764,3,0,0,0

# Colunas selecionadas

In [20]:
# Colunas selecionadas
df_selected.columns

Index(['N_AIH', 'NASC', 'SEXO', 'QT_DIARIAS', 'PROC_REA', 'VAL_SH', 'VAL_SP',
       'VAL_TOT', 'DT_INTER', 'DIAG_PRINC', 'COD_IDADE', 'IDADE', 'CNES',
       'RACA_COR', 'MORTE', 'CID_MORTE', 'ETNIA'],
      dtype='object')